*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img,
svg {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}

button {
	border: none;
	cursor: pointer;
}

h1,
h2,
.paragraph {
	color: var(--text);
	margin-bottom: 1rem;
}

p {
	line-height: 1.5;
}

.wrap {
	margin: 0 auto; 
	width: 85%;
}

.img-deco {
	width: 100%;
}

/* ==========
	Header
============= */
.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;

	font-weight: 600;
}

.header-content img {
	width: clamp(7.50rem, 1.68rem + 12.02vw, 12.50rem);
}

.intro {
	margin: var(--space-x) auto;
	text-align: center;
}

.intro-img {
	margin: 0 auto;
	width: min(60rem, 100%);
} 

.title-main {
	padding: 0 .8rem;
	font-size: var(--fs-title);
}

.intro .text-content {
	margin-bottom: var(--space-ll);
}

/* Bottom Header */
.btn-sign-up__header {
	padding: .3rem 1rem;

	font-size: var(--fs-button__header);
	color: var(--btn-border);
	border: 1px solid var(--btn-border);
	border-radius: 1.5rem;
	background-color: transparent;
}

/* Bottom Intro */
.btn-sign-up__main {
	display: block;
	padding: .5rem 0;
	margin-top: var(--space-m);
	width: min(20rem, 70%);

	border-radius: 2rem;
	font-size: var(--fs-button);
	font-weight: 600;
	background-color: var(--btn-bg);
	color: #fff;
}

/* ==========
	Main
============= */
.main {
	text-align: center;
}

.paragraph {
	margin: 0 auto;
	max-width: 30rem;
}

/* Section One */

.section-one {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  grid-gap: var(--space-x);
}

.col {
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.col img {
	max-width: 20%;
}

.statistic-number {
	font-weight: 700;
	font-size: var(--fs-statistic-number);
}

.span-info {
	font-size: var(--fs-info);
}

.col-two .span-info {
	margin: 0 auto;
	width: 40%;
}

/* Section Two */
.img-article {
	padding: 0 var(--space-sl) var(--space-l);
}

.title-section {
	font-size: var(--step-0);
}

.paragraph-section {
	font-size: var(--step--2);
}

.section-two {
	margin: var(--space-ml) 0;
}

.section-two .section-content {
 	padding: var(--space-mll) 0 var(--space-s);
}

.paragraph-one {
	padding-inline: var(--space-sl);
}

.paragraph-two {
	padding-inline: var(--space-ml);
}

.paragraph-three {
	padding-inline: var(--space-ml-custom);
}

.section-two .section-content:nth-of-type(1),
.section-two .section-content:nth-of-type(3) {
	background-color: var(--bg-section);
	width: 100%;
	padding-inline: calc(26rem / 16);
}

/* Section Three */

.section-three {
	margin: 0 auto;
	width: 80%;
	margin-bottom: 10rem;
}

.section-three h1 {
	font-size: var(--step-1);
	margin-bottom: 1.5rem;
}

/* ==========
	Footer
============= */

.footer {
	background-color: var(--bg-footer);
}

.footer-content {
	color: var(--clr-footer) !important;
}

.column {
	list-style: none;
}

.column li {
	margin-bottom: 1rem;
}

/* Form */

.form {
	margin: 2rem 0 3rem;
	text-align: right;
}

.input {
	width: 100%;
	padding: .8rem;
	border: none;
	border-radius: .3rem;
}

.btn-footer {
	margin-top: 1rem;
	padding: .5rem 0;
	width: 50%;
	color: var(--clr-footer);
	font-family: var(--ff-xl);
	border: none;
	background-color: var(--btn-bg);
	border-radius: .3rem;
	cursor: pointer;
}

.item-phone {
	margin-top: 1.5rem;
}

.item-phone,
.item-email {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.icons-box {
	display: flex;
	gap: 1rem;
	margin: 2rem 0;
}

.icons-box a {
	color: var(--clr-footer);
}

.icons-box svg {
	font-size: 1.5rem;
}

.attribution {
	font-size: var(--step--1);
	text-align: center;
	background-color: #fff;
	margin: 0;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}