*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img,
svg {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}

button {
	border: none;
	cursor: pointer;
}

h1,
h2,
.paragraph {
	color: var(--text);
	margin-bottom: 1rem;
}

p {
	line-height: 1.5;
}

.wrap {
	margin: 0 auto; 
	width: 85%;
}

.img-deco {
	width: 100%;
}

.btn:focus,
.btn:hover {
	background-color: hsl(322, 100%, 76%);
}

/* ==========
	Header
============= */
.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 1rem 7%;
	z-index: 1;

	font-weight: 600;
	transition: all .3s ease	;
}

.header-content img {
	width: clamp(7.50rem, 1.68rem + 12.02vw, 12.50rem);
}

/* Bottom Header */
.btn-sign-up__header {
	padding: .3rem 1rem;

	font-size: var(--fs-button__header);
	color: var(--btn-border);
	border: 1px solid var(--btn-border);
	border-radius: 1.5rem;
	background-color: transparent;
}

.btn-sign-up__header:focus,
.btn-sign-up__header:hover {
	box-shadow: 0 0 10px var(--btn-bg);
}

.scrolled {
	background-color: var(--clr-neutral-very-pale-blue);
}

.intro {
	margin: 10rem auto;
	text-align: center;
}

.intro-img {
	margin: 0 auto;
	width: min(60rem, 100%);
} 

.title-main {
	padding: 0 .8rem;
	font-size: var(--fs-title);
}

.paragraph-main {
	font-size: var(--fs-paragraph-main);
}

.intro .text-content {
	margin-bottom: var(--space-ll);
}

/* Bottom Intro */
.btn-sign-up__main {
	display: block;
	padding: .5rem 0;
	margin-top: var(--space-m);
	width: min(20rem, 70%);

	border-radius: 2rem;
	font-size: var(--fs-button);
	font-weight: 600;
	background-color: var(--btn-bg);
	color: #fff;
}

/* ==========
	Main
============= */
.main {
	text-align: center;
}

.paragraph {
	margin: 0 auto;
	max-width: 30rem;
}

/* Section One */

.section-one {
  display: grid;
  place-items: center;
  align-items: baseline;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  grid-gap: var(--space-x);
}

.col {
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

@media only screen and (max-width: 596px) {
	.col {
		align-items: center;
	}
}

.col img {
	max-width: 20%;
	align-self: flex-start;
}

.statistic-number {
	font-weight: 700;
	font-size: var(--fs-statistic-number);
}

.span-info {
	font-size: var(--fs-info);
}

/* Section Two */

.section-two .section-content {
 	padding: var(--space-mll) 0 var(--space-s);
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	flex-direction: column-reverse;
 	gap: var(--space-x);
}

.reverse {
	flex-direction: column !important;
}

.img-article {
	width: 85%;
}

.title-section {
	font-size: var(--fs-title-section);
}

.paragraph-section {
	font-size: var(--fs-paragraph-section);
}

.section-two {
	margin: var(--space-ml) 0;
}

.bg-color {
	background-color: var(--bg-section);
}

@media only screen and (min-width: 606px) {
	.section-two .section-content {
		text-align: left;
		flex-direction: row;		
	}

	.section-two .paragraph {
		margin: 0;
		max-width: 100%;
	}

	.img-article {
		width: min(40%, 35rem);
	}

	.reverse {
		flex-direction: row !important;
	}
}

/* Section Three */

.section-three {
	margin: 0 auto;
	width: 80%;
	margin-bottom: 10rem;
}

.section-three h3 {
	font-size: var(--fs-title);
	margin-bottom: 1.5rem;
}

/* ==========
	Footer
============= */
.footer {
	background-color: var(--bg-footer);
}

.footer-content {
	color: var(--clr-footer) !important;
	margin-top: -1px;
	padding-top: var(--space-l);
}

.columns {
	display: flex;
		flex-direction: column;
}

@media only screen and (min-width: 815px) {
	.columns {
		flex-direction: row-reverse;
		gap: clamp(var(--space-x, 5rem), 1rem + 15vw, 20rem);
	}

	.columns p {
	  min-width: 17rem;
		width: 70%;
	}
}

.column {
	list-style: none;
}

.column li {
	margin-bottom: 1rem;
}

/* Form */

.form {
	margin: 2rem 0 3rem;
	text-align: right;
	position: relative;
}

.input {
	width: 100%;
	padding: .8rem;
	border: none;
	border-radius: .3rem;
	font: inherit;
}

.error-message {
	display: none;
	position: absolute;
	bottom: calc(-25rem / 16);
	color: var(--clr-primary-light-red);
}

@media only screen and (max-width: 815px) {
	.error-message {
		float: left;
		text-align: left;
		position: static;
	}
}

.error {
  border: 1px solid var(--clr-primary-light-red);
}

.btn-footer {
	margin-top: 1rem;
	padding: .8rem 0;
	width: 50%;
	color: var(--clr-footer);
	font-family: var(--ff-xl);
	border: none;
	background-color: var(--btn-bg);
	border-radius: .3rem;
	cursor: pointer;
}

@media only screen and (min-width: 815px) {
	.form {
		display: flex;
		gap: clamp(.5rem, 1.5vw, var(--space-sl));
	}

	.btn-footer {
		margin: 0;
	}
}

.item-phone {
	margin-top: 1.5rem;
}

.item-phone,
.item-email {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.icons-box {
	display: flex;
	gap: 1rem;
	margin: 2rem 0;
}

.icons-box a {
	color: var(--clr-footer);
}

.icons-box a:focus,
.icons-box a:hover {
	color: hsl(192, 100%, 50%);
}

.icons-box svg {
	font-size: 1.5rem;
	display: block;
}

.attribution {
	font-size: var(--step--1);
	text-align: center;
	background-color: #fff;
	margin: 0;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}